source/*.pdf
*.asv
source/slprj/*
source/videos/*
*.slxc
source/slprj/_sfprj/EMLReport/emlReportAccessInfo.mat
source/slprj/_sfprj/precompile/autoInferAccessInfo.mat
source/slprj/_jitprj/jitEngineAccessInfo.mat
